.Time_section {
    -webkit-filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.5));
    max-width: 510px;
    width: 100%;
    background-color: #ffffffd0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 30px;
    padding: 55.8px 0px;
    gap: 30px;
}

.Time_section .TimeDiv {
    font-size: 96px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Time_section h2 {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Time_section .TimeDiv_2 {
    font-weight: 400;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Time_section div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0px;
}