.Today_block {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 780px;
    width: 100%;
    background-color: rgb(224, 224, 224);
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.5));
    border-radius: 30px;
    .Today_block_tmp {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        .tmp_main {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
            }
            h2 {
                background: -webkit-linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 80px;
                font-weight: 700;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
            p {
                background: -webkit-linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: 32px;
                font-weight: 600;
            }
            h3 {
                background: -webkit-linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: 20px;
                font-weight: 600;
            }
        }
        .tmp_title {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            .tmp_title_rise {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .tmp_title_set {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            h3 {
                font-weight: 700;
                font-size: 20px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
            p {
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-weight: 600;
                font-size: 16px;
            }
        }
    }
    .Today_weather {
        font-size: 32px;
        font-weight: 700;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .Today_inf {
        max-width: 247px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        max-width: 132px;
        width: 100%;
        .Today_inf_title {
            display: flex;
            justify-content: center;
            align-items: center;
            p {
                font-size: 20px;
                font-weight: 600;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
            h3 {
                font-size: 16px;
                font-weight: 500;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
            .force_title {
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.Today_block:hover {
    background-color: rgb(217, 217, 217);
}